// Here you can add other styles

$blue:        #0F214B !important;
$light-blue:  #1b354b !important;
$yellow:      #fecb00 !important;
$dark-yellow: #c8a103 !important;

.app-auth {
  min-height: calc(100vh - 132px);
  .app {
    min-height: auto;
  }
}

.navbar-brand {
  width: 200px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.app-header {
  background-color: $blue;
  border-bottom: 1px solid #0b1734;

  @media (max-width: 991.98px) {
    .navbar-brand {
      left: 41%;
    }
  }


  .navbar-nav {
    font-size: 18px;
    margin-right: 20px;

    .nav-link {
      color: #fff;

      &:hover,
      &:focus {
        color: #fecb00;
      }
    }
  }
}

.img-avatar, .avatar > img, .img-circle {
  border-radius: 0;
}

.auth-header {
  width: 100%;
  margin-bottom: 50px;
  padding: 19px 18px;
  background-color: $blue;
  text-align: left;
  min-height: 80px;
}

.async-validating:after {
  content: '';
  position: absolute;
  top: 7px;
  right: 7px;
  z-index: 200;
  height: 16px;
  width: 16px;
  background-image: url("../assets/img/loader.gif");
}

.picker-input[readonly] {
  background-color: transparent !important;
  min-height: 49px;
}

.lot-edit-btn {
  position: absolute;
  right: 20px;
  top: 10px;
}

.lot-toggle {
  position: absolute;
  right: 100px;
  top: 10px;
}

.sidebar {
  background-color: $blue;


  .nav-link {
    &.active {
      background: #08152e;

      .nav-icon {
        color: $yellow;
      }
    }

    &:hover {
      color: $blue;
      background: $yellow;

      .nav-icon {
        color: $blue;
      }
    }
  }
}

.render-field-label {
  margin-bottom: 0;
  margin-top: 10px;
  text-align: right;

  @media (max-width: 767px) {
    text-align: left;
    padding-left: 15px !important;
  }
}

.btn-yellow{
  background-color: $yellow;
  border-color: $yellow;
  color: $blue;
}
.btn-yellow:hover, .btn-yellow:focus{
  background-color: $dark-yellow;
  border-color: $dark-yellow;
}

.btn-blue{
  background-color: $blue;
  border-color: $blue;
  color: #fff !important;
}
.btn-blue:hover, .btn-blue:focus{
  color: $yellow;
}

.dashboard-coming-soon {
  text-align: center;
  filter: grayscale(100%);
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  div {
    width: 50%;
    margin: 10px auto;

    @media (max-width: 767px) {
      width: 70%;
    }

    img {
      max-width: 100%;
    }
  }

  h1 {
    font-weight: bold;
    color: #353535;
  }
}

.timer {
  padding: 2px 10px;
  background: #4dbd73;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
  display: inline-block;
  font-size: 20px;

  &.last-minute {
    color: #fff;
    background-color: #f86c6b;
    border-color: #f86c6b;
  }
}

.your-bid {
  padding: 2px 10px;
  background: #4dbd73;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
  display: inline-block;
}

.highest-bid {
  background: #f1f3f5;
  padding: 10px 20px 5px;
  margin: 0 auto;
  border-radius: 5px;

  &.winner {
    background: #4dbd73;
    color: #fff;
  }
}

.bid-readonly {
  background-color: #ffffff !important;
  font-size: 16px;
  font-weight: bold;

  &:focus {
    border-color: #e4e7ea;
    outline: 0;
    box-shadow: none;
  }
}

.headless tr:first-child {
  th, td {
    border-top: 0;
  }
}

.paragraphs {
  list-style: none;
  padding: 0;
}

.price-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;

  div {
    padding: 10px;
    border-radius: 10px;
    h5, h4, h6 {
      margin-bottom: 0;
    }
    &.seller {
      background: rgba(77, 189, 116, 0.2);
    }
    &.buyer {
      background: rgba(255, 193, 7, 0.2);
    }
  }
}
